body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgb(54, 121, 215);
}

#controls {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    z-index: 9999;
}

.row {
    display: flex;
    flex-direction: row;   /* IMPORTANT FIX */
    justify-content: center;
    gap: 15px;
    width: 100%;
}

#controls button {
    width: 75px;
    height: 75px;
    font-size: 26px;
    border-radius: 50%;
    border: none;

    background: rgba(0, 0, 0, 0.6);
    color: white;

    box-shadow: 0 4px 10px rgba(0,0,0,0.4);

    touch-action: none;
    user-select: none;
}
#controls button {
    -webkit-user-select: none;
    user-select: none;

    -webkit-touch-callout: none; /* disables copy menu */
    touch-action: manipulation;   /* prevents long-press menu */

    outline: none;
}
canvas {
    display: block;
}
